*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*navigation bar*/

.navbar {
    overflow: hidden;
    background-color: white;
    margin:0px;
}

.navbar .block{
    display: flex;
}
  
.navbar a :hover, .block:hover .block-info:hover , .block-info-right:hover, .icon-info a :hover, .block-profile :hover{ 
    background: lightgray;
}
  
.navbar .block .block-info a{
    float: left; 
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

.navbar .block .block-right{
    float: right; 
    padding-right:200px ;
}

.navbar .block .block-info-right a{     
    float: left; 
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    padding-left: 100px;
    cursor: pointer;
}

.icon-info{
    float: left; 
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 230px;
    right: 280px;
    width: 280px;
  }
  
/* The login popup */
.login-popup {
    display: none;
    position: fixed;
    bottom: 0;
    justify-content: center;
    z-index: 8;
}

/*The sign up popup*/
.signup-popup {
    display: none;
    position: fixed;
    bottom: 0;
    justify-content: center;
    z-index: 5;
}
  

.form-container {
    max-width: 600px;
    padding: 100px;
    background-image: url(https://awcdn.hawkdive.com/media/WhatsApp-Image-2022-03-26-at-2.28.43-PM-2.jpeg);
    justify-content: center;
    margin-bottom: 250px;
    margin-left: 550px;
    color: #f1f1f1;
}
  

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  

.form-container .btn {
    background-color: rgb(26, 218, 58);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container .cancel {
    background-color: red;
}
  

.form-container .btn:hover, .open-button:hover {
    opacity: 100;
}








.flex-storage{
    display: flex;
    width:100%;
    list-style: none;
    flex-direction: column-reverse;
    justify-content: center;
    border-top:10px;
    border-bottom:10px;
    border-left:0;
    border-right:0;
    border-color: lightblue;
    border-style:solid;    
    
}
.flex-item{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    list-style: none;
    text-align: left;
    background-color:lightblue;
    border-bottom: 10px;
    color: black;
    padding-top: 75px;
    padding-bottom: 75px;
    width:100%;
}

  
.pointinfo_pos{
    color: black;
    background-color: #acb6e5;
    width: 60%;
    padding-left:110px;
    text-align: left;
    border-radius: 20px;
}
.points_pos{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    font-size: 35px;
    color: black;
}
.info_pos{
    color: black;
    font-size: 40px;
    width: 30%;
    text-align: center;
}
  
.flex-item img{
    width:60%;
}



.rewardsweb_page{
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    height: 650px;
}

.rewardsweb_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.rewardweb_card{
    background-color: aquamarine;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    height: 550px;
    width: 500px;
    align-content: center;
    border-radius: 50px;
}

.rewardweb_card h1{
    margin-top: 10px;
    height: 40px;
    font-size: 28px;
}

.rewardweb_card p{
    margin-top: 10px;
    font-size: 20px;
    height: 35px;
}
.rewardweb_card button {
    border: none;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 65%;
    font-size: 25px;
    margin: auto;
}
  
.rewardweb_card button:hover {
    opacity: 0.7;
}

.rewardweb_card img{
    height: 250px;
    margin: auto;
    width: 400px;
    margin-top: 50px;
}








.rewards_page{
    background: lightblue;
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.rewards_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    align-items: center;
    justify-items: center;

}

.reward_card{
    background-color: aquamarine;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    height: 400px;
    width: 360px;
    align-content: center;
    border-radius: 40px;
    
}

.reward_card h1{
    margin-top: 7px;
    height: 40px;
    font-size: 28px;
}

.reward_card p{
    margin-bottom: 10px;
    font-size: 20px;
    height: 30px;
    margin-top: 5px;
}
.points {
    color: black;
    height: 40px;
    font-size: 29px;
}
  
.reward_card button {
    border: none;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 65%;
    font-size: 25px;
    margin: auto;
}
  
.reward_card button:hover {
    opacity: 0.7;
}

.reward_card img{
    height: 182px;
    margin: auto;
    width: 320px;
    margin-top: 10px;
}